.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

canvas {
  border: 2px solid #666;
  width: 600px;
  height: 600px;
}

.game-control, .level-status {
  margin: 0px 50px;
}

.game-control div {
  cursor: pointer;
}

.game-control div:hover {
  background-color: #666;
}

.level-status div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: level-status
}

.level-number-label, .level-author-label,
.level-moves-label, .level-shots-label {
  width: 102px;
  height: 22px;
  background-color: #9b9b9b;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
}
